body {
    background-color: #FFFFF0;
}

a {
    display: inline-block;
    color: #78141c;
    text-decoration: none;
}

a:hover {
    background-color: MediumSeaGreen;
}

header {
    background-color: #F5F5F5;
}

footer {
    background-color: #A9A9A9;
}